body {
  background: linear-gradient(hsl(62, 100%, 64%), hsl(190, 100%, 50%));
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0px;
  height: 98.5vh;
}

form {
  margin: 10px auto;
  max-width: 75vw;
  max-height: 90%;
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list__item {
  padding: 0.5rem;
}

.input-textboxes {
  border-radius: 22px;
  border: 0px solid white;
  width: 55vw;
  font-size: 25px;
  padding: 5px;
}

.form-wrapper {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}


textarea {
  font-family: inherit;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="submit"] {
  border-radius: 10px;
  border: 1px solid #eee;
  width: 15vw;
  padding: 6px;
  margin-left: 5px;
  background-color: hsla(360, 100%, 100%, 0.75);
}

@media only screen and (min-width: 620px) {
  input[type="submit"] {
    display: none;
  }

  .input-textboxes {
    font-size: inherit;
    width: 75vw;
  }
}

@media only screen and (max-width: 475px) {

  .input-textboxes {
    font-size: 18px;
    width: 75vw;
  }
}
